.footer {
  position: relative; // contenedor base
  width: 100%;
  height: 25rem;
  overflow: hidden;

  &__fondo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    svg {
      display: block;
      width: 100%;
  height: 205rem;

      height: auto;
    }

    &--uno {
      z-index: 2;
    }

    &--dos {
      z-index: 1;
    }
  }
}
