@use "../base/variables" as v;
@use "../base/mixins" as mx;
.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 45rem;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  box-shadow: 1rem 2rem 2rem #bebebe, -1em -2rem 2rem v.$blanco;

  @include mx.telefono-mediano {
    height: 50rem;
  }
}

.cardContenido {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 96%;
  height: 97%;
  z-index: 2;
  background: v.$blanco;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid v.$blanco;

  &__items {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &--img {
      width: 10rem;
      margin: 2.5rem auto;
      &:hover {
        background-color: #ff5a5a;
        border-radius: 50%;
      }
    }
    &--info {
      p {
        text-align: justify;
      }
    }
  }
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 80%;
  border-radius: 50%;
  background-color: v.$color_primario;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
