@use "../base/variables" as v;
@use "../base/mixins" as mx;
.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 60rem;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:1rem 2rem 2rem #bebebe, -1em -2rem 2rem v.$blanco;
}

.card__contenido {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 98%;
  height: 85%;
  z-index: 2;
  background: v.$blanco;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid v.$blanco;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 99%;
  height: 80%;
  border-radius: 50%;
  background-color: v.$color_primario;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
