@use "../base/_variables.scss" as v;
@use "../base/mixins" as mx;

.barraNav {
  -webkit-box-shadow: 0px 20px 10px -22px #000000;
  box-shadow: 0px 20px 10px -22px #000000;
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &--img {
      width: 20rem;
    }

    h1 {
      color: #060606;
    }
  }
}

.mobile-nav-toggle {
  color: v.$negro;
  cursor: pointer;
  transition: color 0.3s;
}

.navmenu {
  padding: 0;
  z-index: 9997;
}

.navmenu ul {
  display: none;
  list-style: none;
  position: absolute;
  inset: 6rem 2rem 2rem 2rem;
  padding: 10px 0;
  margin: 0;
  border-radius: 6px;
  background-color: v.$fondo_gris;
  border: 1px solid color-mix(in srgb, rgb(80, 80, 80), transparent 90%);
  box-shadow: none;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 9998;
}

.navmenu a,
.navmenu a:focus {
  color: v.$negro;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navmenu svg {
  margin-left: 5px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  background-color: color-mix(in srgb, rgb(136, 136, 136), transparent 90%);
  &:hover {
    background-color: color-mix(in srgb, rgb(255, 0, 0), transparent 80%);
  }
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: v.$color_primario;
}

.mobile-nav-active .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-right: 0;
  z-index: 9999;
}

.mobile-nav-active .navmenu {
  position: fixed;
  overflow: hidden;
  inset: 0;
  background: rgba(33, 37, 41, 0.8);
  transition: 0.3s;
}

.mobile-nav-active .navmenu > ul {
  display: block;
}

@include mx.telefono-grande{

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    position: initial;
    border: none;
    background-color: v.$blanco;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu > ul > li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu > ul > li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: v.$negro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
    padding: 0;
  }

  .navmenu svg {
    display: none;
  }

  .navmenu > ul > li > a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: v.$color_primario;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover > a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu li:hover > a,
  .navmenu .active,
  .navmenu .active:focus {
    color: v.$color_primario;
  }
}
