<footer class="section footer ">
  <div class="contenedor">
    <div class="footer__contenido">
      <div class="footer__contenido--img">
        <a href="#inicio">
          <img
            src="/public/images/maqpro.png"
            alt="Logo MAQPRO"
            loading="lazy"
            width="800"
            height="900"
          />
        </a>
      </div>
      <div class="footer__contenido--privacidad">
        <p>© 2025 MAQPRO. Todos los derechos reservados.</p>
        <a href="/public/Avisos/Avisos de privacidad.pdf">Aviso de privacidad</a>
      </div>
    </div>
  </div>
</footer>
