---
import BarraNav from "../ui/nav.astro";
---

<header class="header">
  <section id="inicio">
    <BarraNav />
    <div class="contenedor">
      <div class="header__contenido">
        <div class="header__contenido--info">
          <h1>Bienvenido a <span>MAQPRO</span></h1>

          <p>
            Ofrecemos soluciones completas para proyectos de construcción,
            mantenimiento, y rehabilitación, con servicios especializados en la
            renta de maquinaria pesada, asesoría técnica compra venta de equipos
            y mas, trabajamos para garantizar el éxito de tu proyecto sea en el
            sector industrial comercial turístico, o de infraestructura.
          </p>
        </div>
        <div class="header__contenido--img">
          <img
            src="/public/images/header.png"
            alt="Imagen Servicios maqpro"
            loading="lazy"
            width="900"
            height="800"
          />
        </div>
      </div>
    </div>
  </section>
</header>
