<section class="consultoria section">
  <div class="contenedor">
    <div class="consultoria__contenido">
      <div class="consultoria__contenido--info">
        <h2>Consultoría y Asesoría </h2>
        <p>
          Contamos con un equipo de expertos que proporciona
          <span>
            servicios de consultoría y asesoría especializada en soluciones
          </span>
          en la operación y mantenimiento de maquina pesada, Te ayudamos a optimizar
          tus procesos y maximizar la eficiencia de tus equipos y a resolver cualquier
          problema operativa que surja.
        </p>
      </div>
      <div class="consultoria__contenido--images">
        <div class="consultoria__image--1">
          <img
            src="/public/images/consultoria_1.jpg"
            alt="Consultoría 1"
            loading="lazy"
            width="900"
            height="600"
          />
        </div>
        <div class="consultoria__image--2">
          <img
            src="/public/images/consultoria_2.jpg"
            alt="Consultoría 1"
            loading="lazy"
            width="900"
            height="600"
          />
        </div>
      </div>
    </div>
  </div>
</section>
