<section class="contacto">
  <div class="contenedor">
    <h2>Empieza a mejorar tus opciones</h2>
    <h3>Contáctenos para una cotización personalizada.</h3>

    <div class="contacto__contenido">
      <div class="contacto__contenido--mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30144.083650658595!2d-96.18069294254987!3d19.194745642211302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c344f5a1256e15%3A0xd9d0694c4c2815f0!2sC.%20R%C3%ADo%20las%20Lajas%20102%2C%20Lomas%20de%20R%C3%ADo%20Medio%2C%2091809%20Veracruz%2C%20Ver.!5e0!3m2!1ses-419!2smx!4v1765825145950!5m2!1ses-419!2smx"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">Ubicación MAQPRO</iframe
        >
      </div>
      <div class="contacto__contenido--cards">
        <div class="card__ubicacion">
          <div class="card__icono">
            <img
              src="/public/icons/ubicacion.png"
              alt="Icono Ubicación"
              loading="lazy"
              width="900"
              height="800"
            />
          </div>
          <div class="contenedor">
            <h3>Ubicación</h3>
            <p>
              Río las lajas #102 entrerio Coalcomany rio Sochiapa Fracc.Lomas de
              Río medio CP 91809, Veracruz, Ver
            </p>
          </div>
        </div>
        <div class="card__telefono">

          <div class="card__icono">
            <img
              src="/public/icons/llamada.png"
              alt="Icono llamada"
              loading="lazy"
              width="900"
              height="800"
            />
          </div>
          <div class="contenedor">
            <h3>Teléfono </h3>
            <p>2293716558</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
