<section class="background section" id="nosotros">
  <div class="contenedor">
    <div class="nosotros">
      <h2>Sobre Nosotros</h2>
      <div class="nosotros__mision">
        <div class="nosotros__mision--img image-wrapper ">
          <img
            src="/public/images/nosotros_1.jpg"
            alt="Imagen Accesoria"
            class="img-reveal"
            loading="lazy"
            width="900"
            height="800"
          />
        </div>
        <div class="nosotros__mision--info">
          <h3>Misión</h3>
          <p>
            Brindar soluciones integrales, técnicas y comerciales para proyectos
            de construcción, mantenimiento, rehabilitación e infraestructura,
            mediante la renta, arrendamiento, adquisición, comercialización y
            operación de maquinaria pesada y equipos especializados, así como la
            prestación de servicios técnicos, consultoría, inspección,
            representación comercial y contratación de personal especializado,
            garantizando eficiencia operativa, cumplimiento legal, seguridad y
            calidad, contribuyendo al éxito y desarrollo sostenible de los
            proyectos de nuestros clientes en los sectores industrial,
            comercial, turístico y de infraestructura.
          </p>
        </div>
      </div>

      <div class="nosotros__vision">
        <div class="nosotros__vision--info">
          <h3>Visión</h3>
          <p>
            Consolidarnos como una empresa líder y estratégica a nivel nacional,
            reconocida por su capacidad técnica, solidez operativa y
            versatilidad comercial, capaz de ofrecer soluciones completas que
            abarcan desde la gestión de activos, representación legal y
            comercial, hasta la ejecución técnica especializada, posicionándonos
            como un aliado confiable para empresas y organizaciones nacionales e
            internacionales en el desarrollo de proyectos de alto impacto.
          </p>
        </div>
        <div class="nosotros__vision--img image-wrapper ">
          <img
            src="/public/images/nosotros_2.jpg"
            alt="Imagen Accesoria"
            class="img-reveal"
            loading="lazy"
            width="900"
            height="800"
          />
        </div>
      </div>
    </div>
  </div>
</section>
