---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/header.astro";
import Servicios from "../components/sections/servicios.astro";
import Contacto from "../components/sections/contacto.astro";
import Footer from "../components/layout/footer.astro";
import Consultoria from "../components/sections/consultoria.astro";
import Nosotros from "../components/sections/nosotros.astro";
---

<Layout>
  <main>
    <Header />

    <Servicios />
  </main>

  <Consultoria />

  <Nosotros />
  <Contacto />

  <Footer />
</Layout>

<script is:client="load">
  const sections = document.querySelectorAll(".section");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
        }
      });
    },
    {
      threshold: 0.2,
    }
  );

  sections.forEach((section) => observer.observe(section));
</script>
