---
import "../styles/app.scss";
---

<!doctype html>
<html lang="es-MX">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5TL83WH7");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <meta
      name="description"
      content="En MAQPRO ofrecemos renta de maquinaria pesada, asesoría técnica y compra-venta de equipos para proyectos industriales, comerciales y de infraestructura."
    />
    <meta
      name="keywords"
      content="renta de maquinaria pesada, maquinaria para construcción, asesoría técnica construcción, compra venta de equipos, maquinaria industrial, MAQPRO"
    />
    <meta name="robots" content="index, follow" />
    <meta
      property="og:title"
      content="MAQPRO | Renta de Maquinaria Pesada y Soluciones para Construcción"
    />
    <meta
      property="og:description"
      content="Soluciones completas para proyectos de construcción, mantenimiento y rehabilitación. Renta de maquinaria pesada y asesoría técnica especializada."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.maqpro.com" />
    <meta
      property="og:image"
      content="https://www.maqpro.com/img/og-image.jpg"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="MAQPRO | Soluciones en Maquinaria Pesada"
    />
    <meta
      name="twitter:description"
      content="Renta de maquinaria pesada, asesoría técnica y compra-venta de equipos para proyectos industriales y de infraestructura."
    />
    <meta
      name="twitter:image"
      content="https://www.maqpro.com/img/og-image.jpg"
    />

    <link rel="canonical" href="https://www.maqpro.com" />

    <meta name="generator" content={Astro.generator} />
    <title>MAQPRO</title>
  </head>
  <body>
    <slot />
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5TL83WH7"
        height="0"
        width="0"
        loading="lazy"
        style="display:none;visibility:hidden"
        title="Ubicación de MaqPro Heavy Manufacturing en Google Maps"></iframe>
    </noscript>
  </body>
  <!-- End Google Tag Manager (noscript) -->
</html>
