  @use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  font-family: v.$fuente_principal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: v.$tr;
}

.contenedor {
  margin: 0 auto;
  width: min(90%, 120rem);
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: v.$bold;
  color: v.$blanco;
  cursor: pointer;
  white-space: nowrap;
}
img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
