@use "variables" as v;

h1,
h2 {
  margin: 0 0 2.5rem 0;
  text-align: center;
}
h3 {
  margin: 2.5rem 0;
  text-align: center;
}

h4 {
  margin: 2rem 0;
  text-align: center;
}

h1,
h2 {
  font-weight: v.$bold;
}

h3,
h4 {
  font-weight: v.$delgada;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}

h2 {
  font-size: clamp(3rem, 6vw, 9rem);
}

h3 {
  font-size: clamp(2rem, 2.2vw, 2.4rem);
}

h4 {
  font-size: clamp(2rem, 2.2vw, 2.6rem);
}

p {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  text-align: justify;
}

label,
input,
select,
i {
  font-size: clamp(1.3rem, 1.4vw, 1.6rem);
}

a {
  text-decoration: none;
  font-size: clamp(1.8rem, 2vw, 2.2rem);

  span {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
  }
}

button {
  font-size: clamp(1.5rem, 2vw, 3rem);
}
