@use "../base/variables" as v;
@use "../base/mixins" as mx;


.section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}
.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: v.$color-primario;
  transition: width 0.4s ease;
}

.link:hover::after {
  width: 100%;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 16px;
}

.image-wrapper img {
  transition: transform 0.6s ease;
}

.image-wrapper:hover img {
  transform: scale(1.08);
}
