@import url("https://use.typekit.net/bnv5cmf.css");

//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

$fuente_principal: "source-sans-3", sans-serif;

//Tamaño de media queries
$telefono_pequeno: 480px;
$telefono_mediano: 600px;
$telefono_grande: 765px;
$tablet_pequena: 1024px;
$tablet_grande: 1280px;
$desktop_mediana: 1366px;
$desktop_grande: 1920px;

//colores
$negro: #000000;
$blanco: #ffffff;
$fondo_gris: #e4e4e4;
$tipografia_gris: #757575;
$color_primario: #ff0000;

$whatsapp: #25d366;

$tr: all 0.1s ease 0s;
