<div class="separadorServicios section">
  <div class="separadorServicios__barra"></div>

  <div class="contenedor">
    <h2>¿Por qué elegirnos?</h2>
    <div class="separadorServicios__cards">
      <div class="separadorServicios__cards--card">
        <div class="icono">
          <img
            src="/public/icons/experiencia.png"
            alt="Icono Experiencia"
            loading="lazy"
            width="900"
            height="800"
          />
        </div>
        <div class="info">
          <p>
            Con años de experiencia en la industria, ofrecemos soluciones
            confiables y personalizadas.
          </p>
        </div>
      </div>
      <div class="separadorServicios__cards--card">
        <div class="icono ">
          <img
            src="/public/icons/seguridad.png"
            alt="Icono Experiencia"
            loading="lazy"
            width="900"
            height="800"
          />
        </div>
        <div class="info">
          <p>
            Seguridad gracias aun equipo de expertos disponibles para ayudarte
            en todo momento.
          </p>
        </div>
      </div>
      <div class="separadorServicios__cards--card">
        <div class="icono ">
          <img
            src="/public/icons/excavadora.png"
            alt="Icono Experiencia"
            loading="lazy"
            width="900"
            height="800"
          />
        </div>
        <div class="info">
          <p>
            Nuestra maquinaria y equipos cumplen con los más altos estándares de
            calidad.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="separadorServicios__barra"></div>
</div>
